In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Thompson,CA,2022-04-11 16:06:17,55.7435,-97.8558,30.36,72,58,5.93,broken clouds
1,1,Bengkulu,ID,2022-04-11 16:08:43,-3.8004,102.2655,77.27,84,14,3.85,few clouds
2,2,Oranjestad,AW,2022-04-11 16:05:37,12.5240,-70.0270,78.87,86,62,23.15,broken clouds
3,3,Hermanus,ZA,2022-04-11 16:06:19,-34.4187,19.2345,77.81,62,0,2.19,clear sky
4,4,Severo-Kurilsk,RU,2022-04-11 16:08:44,50.6789,156.1250,26.37,79,32,9.15,scattered clouds

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID          int64
City            object
Country         object
Date            object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speed     float64
Description     object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Bengkulu,ID,2022-04-11 16:08:43,-3.8004,102.2655,77.27,84,14,3.85,few clouds
2,2,Oranjestad,AW,2022-04-11 16:05:37,12.5240,-70.0270,78.87,86,62,23.15,broken clouds
3,3,Hermanus,ZA,2022-04-11 16:06:19,-34.4187,19.2345,77.81,62,0,2.19,clear sky
12,12,Vaini,TO,2022-04-11 16:08:47,-21.2000,-175.2000,80.33,79,100,16.11,overcast clouds
16,16,Bartica,GY,2022-04-11 16:08:49,6.4000,-58.6167,86.32,61,86,4.50,overcast clouds
17,17,Cape Town,ZA,2022-04-11 16:08:50,-33.9258,18.4232,78.35,49,0,5.99,clear sky
21,21,Abilene,US,2022-04-11 16:08:53,32.4487,-99.7331,77.77,35,0,11.50,clear sky
22,22,Atuona,PF,2022-04-11 16:08:53,-9.8000,-139.0333,79.00,78,24,17.31,few clouds
24,24,Hithadhoo,MV,2022-04-11 16:08:54,-0.6000,73.0833,84.42,66,24,12.35,few clouds
25,25,Ojinaga,MX,2022-04-11 16:08:55,29.5667,-104.4167,81.57,22,0,8.05,clear sky

In [16]:
preferred_cities_df.count()

City_ID        166
City           166
Country        165
Date           166
Lat            166
Lng            166
Max Temp       166
Humidity       166
Cloudiness     166
Wind Speed     166
Description    166
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1     Bengkulu      ID     77.27  -3.8004  102.2655
2   Oranjestad      AW     78.87  12.5240  -70.0270
3     Hermanus      ZA     77.81 -34.4187   19.2345
12       Vaini      TO     80.33 -21.2000 -175.2000
16     Bartica      GY     86.32   6.4000  -58.6167
17   Cape Town      ZA     78.35 -33.9258   18.4232
21     Abilene      US     77.77  32.4487  -99.7331
22      Atuona      PF     79.00  -9.8000 -139.0333
24   Hithadhoo      MV     84.42  -0.6000   73.0833
25     Ojinaga      MX     81.57  29.5667 -104.4167

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Bengkulu,ID,77.27,-3.8004,102.2655,Grage Hotel Bengkulu
2,Oranjestad,AW,78.87,12.5240,-70.0270,Divi Village Golf & Beach Resort
3,Hermanus,ZA,77.81,-34.4187,19.2345,Misty Waves Boutique Hotel
12,Vaini,TO,80.33,-21.2000,-175.2000,Keleti Beach Resort
16,Bartica,GY,86.32,6.4000,-58.6167,Sloth Island Nature Resort
17,Cape Town,ZA,78.35,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
21,Abilene,US,77.77,32.4487,-99.7331,La Quinta Inn by Wyndham Abilene
22,Atuona,PF,79.00,-9.8000,-139.0333,Villa Enata
24,Hithadhoo,MV,84.42,-0.6000,73.0833,Scoop Guest House
25,Ojinaga,MX,81.57,29.5667,-104.4167,Suites Las Palmas

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))